.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: linear-gradient(90deg, #f8fafc, #e0f7fa); /* light gradient */
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  margin: 10px;
}

.profile-initial {
  width: 50px;
  height: 50px;
  background-color: #397294; /* Any color you like */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight:inherit;
  text-decoration:dotted;
}
.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: #00796b;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #00796b;
  color: #ffffff;
  transform: scale(1.05);
}

.nav-links a.active {
  background-color: #004d40;
  color: #ffffff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .nav-links a {
    width: 100%;
    text-align: center;
  }
}
.lbtn{
   background-color: #42aeb6;
  color: white;
  border: none;
  padding: 8px 14px;
  margin:  0px 0px 2px ;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
.lbtn :hover{
  background-color: aqua;
}

